
<form class="example">
  <div class="search-container d-flex justify-content-between">
    <input type="text" placeholder="Search.." name="search">
    <mat-icon class="search-icon">search</mat-icon>
  </div>
</form>
  <div class="bg-white p-3 m-3 shadow-sm" >
    <h4 class="border-bottom mx-3 pb-2 mt-3"><strong>Incident Catalog</strong></h4>

    <div class="row">
      <div class="col-md-3">
        <div class="bg-white p-3 shadow-sm border rounded mb-3 d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-ticket"></i>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-ticket" viewBox="0 0 16 16"style="color:rgb(167, 99, 12)">
            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
          </svg>
          <p><strong>Unable to copy data from file server</strong> </p>
          <!-- <p><strong>server</strong> </p> -->

          <p>This template is used when user is</p>
          <p>not able to copy data from file</p>
          <P>server to user machine</P>
        </div>
      </div>

      <div class="col-md-3">
        <div class="bg-white p-3 shadow-sm border rounded mb-3 d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-ticket"></i>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-ticket" viewBox="0 0 16 16"style="color:rgb(167, 99, 12)">
            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
          </svg>
          <p><strong>Unable to login into ERP</strong></p>
          <p>This template is used when user is</p>
          <p>not able to login into ERP</p>
          <p>application using user credentials</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="bg-white p-3 shadow-sm border rounded mb-3 d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-ticket"></i>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-ticket" viewBox="0 0 16 16" style="color:rgb(167, 99, 12)">
            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
          </svg>
          <p><strong>Unable to login into File server</strong></p>
          <p>This template is used when user is </p>
          <p>not able to login into file server</p>
          <p>using user credential</p>
        </div>
      </div>

      <div class="col-md-3">
          <div class="bg-white p-3 shadow-sm border rounded mb-3 d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-ticket"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-ticket" viewBox="0 0 16 16" style="color:rgb(167, 99, 12)">
              <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
            </svg>
            <p><strong>Un able to login into PC</strong></p>
            <p>This template is used when user is  </p>
            <p>not able to login into PC using</p>
            <p>Active directory credentials</p>
          </div>
        </div>


  </div>
</div>




